.shortcut {
  font-size: 14px;
  font-family: 'Menlo', 'Courier New', Courier, monospace;
  margin: 0 4px;
  padding: 4px 9px;
  color: #3C5171;
  border-radius: 3px;
  border: 1px solid #BCD6E7;
  background-color: #EBF0F4;
}
