body {
  background: #FFFEFD;
  margin: 25px;
}

nav {
  padding: 20px;
}

.app {
  font-family: "Helvetica", "Arial", "sans-serif";

  .logo {
    text-align: center;

    img {
      width: 56px;
      margin: 0 auto;
    }
  }
}

