@font-face {
    font-family: "Abril Fatface";
    src: url("./fonts/AbrilFatface-Regular.woff2") format("woff2");
}

body {
  background: #FFFEFD;
  margin: 25px;
}

nav {
  padding: 20px;
}

.app {
  font-family: "Helvetica", "Arial", "sans-serif";

  .logo {
    img {
      width: 76px;
    }
  }

  h1 {
    font-size: 42px;
    font-family: "Abril Fatface", "Times", "Times New Roman", "serif";
    font-weight: normal;
  }
}
